body{
    background-color: papayawhip;
}

.ingredients{
    border: 1px solid white;
    width: 50%;
    margin: 0 auto;
    padding: 100px;
}
.table{
    border: 1px solid white;
    margin-left: 20rem;
}
.instructions{
    border: 1px solid white;
    width: 50%;
    margin: 0 auto;
}
.instructions ol{
    width: 100%;
    margin:  0 auto;
    border: 1px solid white;
}